{{ ansible_managed | comment }}

@version: 3.30
#
# Syslog-ng default configuration file for Gentoo Linux

# https://bugs.gentoo.org/426814
@include "scl.conf"

options {
	threaded(yes);
	chain-hostnames(no);
	keep-hostname(yes);
	use-dns(yes);
	use-fqdn(yes);
	time-reopen(5);

	# The default action of syslog-ng is to log a STATS line
	# to the file every 10 minutes.	 That's pretty ugly after a while.
	# Change it to every 12 hours so you get a nice daily update of
	# how many messages syslog-ng missed (0).
	stats_freq(43200);
	# The default action of syslog-ng is to log a MARK line
	# to the file every 20 minutes.	 That's seems high for most
	# people so turn it down to once an hour.	 Set it to zero
	# if you don't want the functionality at all.
	mark_freq(3600);
};

source src { system(); internal(); };

{% if syslog_kmsg %}
source kmsg {
	file("/proc/kmsg");
};
{% endif %}

{% if syslog_central and syslog_destination == ansible_facts['fqdn'] %}
source syslog_server_source {
	network(
		ip("{{ syslog_destination_listenip }}")
		ip_protocol(6)
		port({{ syslog_destination_listenport }})
		transport("tls")
		log-iw-size(30000)
		max-connections(300)
		tls(
			key-file("{{ syslog_tls_key }}")
			cert-file("{{ syslog_tls_cert }}")
			ca-dir("{{ syslog_ca_cert | dirname }}")
		)
	);
};
{% endif %}

destination messages { file("/var/log/messages"); };

destination kern { file("/var/log/kern.log"); };
destination user { file("/var/log/user.log"); };
destination mail { file("/var/log/mail.log"); };
destination daemon { file("/var/log/daemon.log"); };
destination auth { file("/var/log/auth.log"); };
destination _syslog { file("/var/log/syslog"); };
destination lpr { file("/var/log/lpr.log"); };
destination news { file("/var/log/news/news.log"); };
destination uucp { file("/var/log/uucp.log"); };
destination cron { file("/var/log/cron.log"); };
destination ftp { file("/var/log/ftp.log"); };
destination ntp { file("/var/log/ntp.log"); };
#destination audit { file("/var/log/audit.log"); };
destination alert { file("/var/log/alert.log"); };
destination clock { file("/var/log/clock.log"); };
destination local { file("/var/log/local.log"); };

destination mail_info { file("/var/log/mail.info..log"); };
destination mail_warn { file("/var/log/mail.warn.log"); };
destination mail_err { file("/var/log/mail.err.log"); };
destination news_crit { file("/var/log/news/news.crit.log"); };
destination news_err { file("/var/log/news/news.err.log"); };
destination news_notice { file("/var/log/news/news.notice.log"); };
destination debug { file("/var/log/debug.log"); };

{% if syslog_console %}
destination console { usertty("root"); };
{% endif %}

{% if syslog_central %}
{% if syslog_destination == ansible_facts['fqdn'] %}
# Add central syslog destination
destination central_sink {
	syslog("{{ syslog_destination_export.split(':')[0] }}" transport("tcp") port({{ syslog_destination_export.split(':')[1] }}));
};
{% else %}
# Add syslog_server destination
destination syslog_server {
	network("{{ syslog_destination }}" port({{ syslog_destination_listenport }})
		ip_protocol(6)
		transport("tls")
		tls(
			ca-dir("{{ syslog_ca_cert | dirname }}")
{% if syslog_tls_cert %}
			cert-file("{{ syslog_tls_cert }}")
			key-file("{{ syslog_tls_key }}")
{% endif %}
    )
    disk-buffer(
        mem-buf-length({{ syslog_mem_buffer_size }})
        disk-buf-size({{ syslog_disk_buffer_size }})
        reliable(no)
    )
	);
};
{% endif %}
{% endif %}


{% if syslog_central %}
rewrite r_host {set("{{ ansible_facts['fqdn'] }}", value(HOST)); };
{% endif %}
rewrite ansible {
	set("${PROGRAM}: ${MESSAGE}", value("MESSAGE"), condition(program("ansible*" type(glob))));
	set("ansible", value("PROGRAM"), condition(program("ansible*" type(glob))));
};
rewrite loki {
	set("${MESSAGE} severity=${LEVEL}", value("MESSAGE"));
};
# By default messages are logged to tty12...
{% if not syslog_console %}#{% endif %}destination console_all { file("/dev/tty12"); };
# ...if you intend to use /dev/console for programs like xconsole
# you can comment out the destination line above that references /dev/tty12
# and uncomment the line below.
#destination console_all { file("/dev/console"); };

#filter f_kern { facility(kern); };
filter f_user { facility(user); };
filter f_mail { facility(mail); };
filter f_daemon { facility(daemon); };
filter f_auth { facility(auth) or facility(authpriv); };
filter f_syslog { facility(syslog); };
filter f_lpr { facility(lpr); };
filter f_news { facility(news); };
filter f_uucp { facility(uucp); };
filter f_cron { facility(cron); };
filter f_ftp { facility(ftp); };
filter f_ntp { facility(ntp); };
#filter f_audit { facility(security); };
filter f_alert { facility(console); };
filter f_clock { facility(solaris-cron); };
filter f_local { facility(local0..local7); };

filter l_emerg { level(emerg); };
#filter l_alert { level(alert); };
filter l_crit { level(crit); };
filter l_err { level(err); };
filter l_warn { level(warn); };
filter l_notice { level(notice); };
filter l_info { level(info); };
filter l_debug { level(debug) };

filter f_mail_info { filter(f_mail) and filter(l_info) };
filter f_mail_warn { filter(f_mail) and filter(l_warn) };
filter f_mail_err { filter(f_mail) and filter(l_err) };
filter f_news_crit { filter(f_news) and filter(l_crit) };
filter f_news_err { filter(f_news) and filter(l_err) };
filter f_news_notice { filter(f_news) and filter(l_notice) };
filter f_debug { filter(l_debug) };

filter f_not_audit { not facility(security); };

{% if syslog_kmsg %}
log { source(kmsg); destination(kern); destination(console_all); };
{% endif %}
log { source(src); filter(f_user); rewrite(ansible); destination(user); };
log { source(src); filter(f_mail); destination(mail); };
log { source(src); filter(f_daemon); destination(daemon); };
log { source(src); filter(f_auth); destination(auth); {% if syslog_console %}destination(console_all); {% endif %}};
log { source(src); filter(f_syslog); destination(_syslog); };
log { source(src); filter(f_lpr); destination(lpr); };
log { source(src); filter(f_news); destination(news); };
log { source(src); filter(f_uucp); destination(uucp); };
log { source(src); filter(f_cron); destination(cron); };
log { source(src); filter(f_ftp); destination(ftp); };
log { source(src); filter(f_ntp); destination(ntp); };
#log { source(src); filter(f_audit); destination(audit); {% if syslog_console %}destination(console_all); {% endif %}};
log { source(src); filter(f_alert); destination(alert); {% if syslog_console %}destination(console_all); {% endif %}};
log { source(src); filter(f_clock); destination(clock); };
log { source(src); filter(f_local); destination(local); };

log { source(src); filter(f_mail_info); destination(mail_info); };
log { source(src); filter(f_mail_warn); destination(mail_warn); };
log { source(src); filter(f_mail_err); destination(mail_err); };
log { source(src); filter(f_news_crit); destination(news_crit); };
log { source(src); filter(f_news_err); destination(news_err); };
log { source(src); filter(f_news_notice); destination(news_notice); };

log { source(src); filter(l_debug); destination(debug); };

{% if syslog_console %}
log { source(src); filter(l_emerg); destination(console); };

{% endif %}
log { source(src); filter(f_not_audit); destination(messages); };
#log { source(src); destination(console_all); };

{% if syslog_central %}
{% if syslog_destination == ansible_facts['fqdn'] %}
log {
	source(src);
	rewrite(r_host);
	rewrite(ansible);
	rewrite(loki);
	destination(central_sink);
};
log {
	source(syslog_server_source);
	rewrite(loki);
	destination(central_sink);
};
{% else %}
log {
	source(src);
	rewrite(r_host);
	rewrite(ansible);
	destination(syslog_server);
};
{% endif %}
{% endif %}

@include "conf.d/*.conf"
